__pycache__/
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
*.log
local_settings.py
db.sqlite3
#Environment
Envs/
db.sqlite3-journal
.idea/*
chatapp/chatapp/_pycache_
chatapp/base/migrations/_init_.py
